@CHARSET "UTF-8";

body {
	text-align: center;
}

#wraper {
	text-align: left;
	width:800px;
	margin: 0 auto;
	position:relative;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.footer {
	hight: 100px;
	border: 1px solid black;
	color: green;
	padding: 20px;
	text-align: center;
}

.header {
	border: 1px solid black;
	color: green;
	text-align: right;
	padding: 3px;
	padding-right: 20px;
}

.help {
    position:absolute; 
    left:-161px;
    width:140px; 
    background-color: yellow; 
    color:brown; 
    border:1px solid black; 
    padding:10px; 
    font-size: small; 
    text-align: left;
}

.content {
	border: 1px solid grey;
	color: black;
	padding: 20px;
	text-align: center;
}


a {
	color: blue;
	font-weight:bold;
	text-decoration: none;
	font-family: sans-serif;
    text-decoration: none;
	transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;

}

a.mainMenu {
   background-color: #D8F3FC; 
   padding: 10px;
   border: 1px solid black;
   }

 input.submit {
    width:100px;
 	color: blue;
 	background-color: #D8F3FC; 
	font-weight:bold;
	text-decoration: none;
	font-family: sans-serif;
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
	transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
 }

a:hover, input.submit:hover  {
	color: #6AD2F5;
	cursor:pointer;
}

table.mainMenu {
	border-spacing: 50px;
}

td.mainMenu {
	border: 1px solid red;
	width: 300px;
	height: 250px;
}

div.mainMenu {
	margin: 0 auto;
	margin-top:10px;
	width: 650px;
	border: 1px solid black;
	background-color: #D8F3FC;
	text-align: center;
	padding: 10px;
	color:red;
}

div.availability {
	margin-top:20px; 
	margin-bottom:20px; 
	padding-bottom:20px;
}

h3 {color: gray;}

th {font-weight:normal;
    color:black;
}

th.jobs {
	text-align:center;
    width:180px;
}

td.jobs {text-align: left;}
